doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/header.css ')
  link(rel='stylesheet' href='/css/profile.css ')
  link(rel='stylesheet' href='/css/footer.css ')
  title Profile - WorkLancers
include ./header.pug
body
  main.profile
    .container
      form#register-form()
        h2.title WorkLancers
        .footer
          // <button class="see_more_btn">See More</button> 
    section.top
      article
        h1.profile Profile
        button(type="button" class="postButton" onclick="mostrarForm()")
          img.avatar(src=user.image)
      article
        div.hide_me(id="form")
          include ./userForm.pug
      section.bottom 
        hr
        p(class="description") Username:
          p(class="username")=user.username
          hr
        p(class="description") E-mail:
          p(class="username")=user.email
          hr
        p(class="description") Location:
          p(class="username")=user.location
          hr
        p(class="description") Ocupation:
          p(class="username")=user.occupation
          hr
        p(class="description") Skills:
          p(class="username")=user.skills
        hr
include ./footer.pug
script
  include ../public/scripts/scripts.js
