doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='/css/style.css ')
        link(rel='stylesheet' href='/css/header.css ')
        link(rel='stylesheet' href='/css/footer.css ')
        link(rel="stylesheet" href="/css/users.css")
        title Users - WorkLancers
    body
      include ./header
      main
        h2 Profiles in
        h2 WorkLancers
        .separator
        section
          each val in hola
            article
              form(method="POST" )
                div.card
                  p(class="red") Username:
                    label(for=val.email class="green")=val.username
                  p(class="red") Email: 
                    label(for=val.email class="green") *****
                  p(class="red") Birthdate:  
                    label(for=val.email class="green")=val.age
                  p(class="red") Occupation: 
                    label(for=val.email class="green")=val.occupation
                  p(class="red") Location: 
                    label(for=val.email class="green")=val.location
                  p(class="red") Skills:
                    label(for=val.email class="green")=val.skills
                  input(type="hidden" value=val.email name='email')
                  input(type="submit" class="deleteBtn" value="Delete", email=val.email)
      include ./footer